@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__links{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#0b6660;
    text-decoration: none;
}


.apresentacao{
    padding: 05% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.titulo-destaque{
    color: #0b6660;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: 'krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao_links_botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border: 2px solid #0b6660;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family:'Montserrat', sans-serif;
}

.imagem{
    border-radius: 600px;
    width: 280px;
    align-self:flex-start
}

.apresentacao_links_botao:hover{
    background-color: #272727;
}

.rodape{
    padding: 24px;
    color: #000000;
    background-color: #0b6660;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
 .lista{
    list-style-type: disc;
 }

 .apresentacao__curriculo{
    display: flex;
    flex-direction: column;
 }
